@import './mixins.scss';
@import './variables.scss';


.admin-view-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    
    .header-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .admin-link {
            text-decoration: none;
            color: $darkBlue;
            cursor: pointer;
        }

        .active-link {
            border-bottom: 2px solid $red;
            border-top: 2px solid $red;
        }
    }

    @include for-desktop-up {
        height: 35px;
        padding: 10px 0;

        .header-nav {
            width: 50%;
            font-size: 16px;
        }
    }
}