@import './mixins.scss';
@import './variables.scss';

.exp-report-header{
    display: flex;
    flex-direction: column;
    width: 100%;

    .select-form {
        padding: 5px 0;
        border: $test;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .add-form {
            padding: 5px 0;
            display: flex;
        }
    }
}