@import './mixins.scss';
@import './variables.scss';

.expense-list {
    .exp-list-header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .exp-list-header h2 {
        width: calc(100% / 7);
    }
}