@import './mixins.scss';
@import './variables.scss';

.exp-main {
    display: flex;
    flex-direction: column;

    .exp-report-header {
        // border: $test;
        padding: 10px 0;

        button {
            border-radius: 3px;
            background: white;
            outline: 0; 
            border: 1px solid $blue;
            padding: 4px;
        }
    }
}