@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import './mixins.scss';
@import './variables.scss';

.App {
    font-family: 'Roboto', sans-serif;
    background: $white;
    min-height: 100%;
    min-width: 100%;
    width: 100vw;
    height: 100vh;
}
