@import './mixins.scss';
@import './variables.scss';

.landing {
    main {
        background: $grey;
        margin-top: 81px;
    }

    @include for-desktop-up {
        main {
            height: 600px;
        }
    }
    
}