@import './mixins.scss';
@import './variables.scss';

.landing-header {
    @include for-desktop-up {
        border: $test;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        width: 100%;
        height: 81px;

        .menu {
            display: flex;
        }

        .btns {
            display: flex;
        }
    }
}