@import './mixins.scss';
@import './variables.scss';

.landing-footer{
    background: $darkBlue;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    @include for-desktop-up{
        height: 100px;
        width: 100%;
    }
}