@import './mixins.scss';
@import './variables.scss';

.sidemenu {
    
    background: $darkBlue;
    height: 100vh;

    .side-link {
        text-decoration: none;
    }

    .active-link {
        color: $grey;
        font-size: 16px;
    }

    @include for-desktop-up {
        width: 150px;

        .user-section {
            height: 81px;
            background: $blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 5px 5px;
        }

        
    }
}